@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 5px;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  background: #ffffb1;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #ffc415;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffc422;
}
